$box-shadow: none;
$primary_color: #2d323e;
$secondary_color: #cc2838;
$background_color: #1f2128;
$font_color: #d6d7d8;
$border_radius: 8px;

// $box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.66);
// $primary_color: #3471cf;
// $secondary_color: white;
// $background_color: #f1f9ff;
// $font_color: rgba(0, 0, 0, 0.87);
